.campaign-list-container {
    padding: 20px;
}

.campaign-list-container h2 {
    margin-top: 0;
}

.campaign-list-container ul {
    list-style-type: none;
    padding: 0;
}

.campaign-list-container li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.campaign-list-container li:last-child {
    border-bottom: none;
}