.login {
    padding: 1rem;
}

.login h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-form-group label {
    font-weight: bold;
}

.login-form-group input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.login button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}